@{
    ViewData["Title"] = "Razor";
}

<div class="text-center">
    <h1 class="display-4">Синтаксис Razor </h1>
</div>
<p>
    <strong>Razor</strong> - технологія включення до складу HTML розмітки 
    засобів мови програмування C#. 
</p>
<h2>Вирази</h2>
<p>
    Вирази (у програмуванні) - інструкції, які мають результат. 
    Коли йдеться про Razor мається на увазі виведення цього результату.
    Для цього використовується символ &commat; з круглими дужками після
    нього:
    &commat;(2 + 3) = @(2 + 3)<br/>
    Для деяких випадків круглі дужки не обов'язкові (як правило для 
    виведення змінних), але можливі неправильні визначення меж виразів,
    тому дужки лишати бажано.
</p>
<h2>Інструкції</h2>
<p>
    Інструкції - узагальнені засоби мови програмування, які можуть бути 
    як виразами (результати яких не потрібно виводити), 
    так і безрезультатними літералами. 
    Razor-інструкції вміщують у фігурні дужки &commat;{...}.
    В середині дужок можуть бути довільні інструкції мовою C#. 
    Рекомендується вживати лише ті інструкції, які обробляють передані 
    до представлення дані і не використовують сервіси та інші засоби 
    проєкту.
</p>
@{
    String str = "Hello, World!";
    String[] arr = { "line 1", "line 2", "line 3" };
}
<p>
    Змінні, оголошені в інструкціях можна вивести синтаксисом виразів <br />
    &commat;str = @str <br/>
    &commat;str+"!" = @str+"!" <br />
    &commat;(str+"!") = @(str+"!")
</p>
<h2>Операції</h2>
<p>
    Razor містить власні конструкції для ряду операцій мови C#: 
    <code>&commat;if(){...}</code>,
    <code>&commat;for(){...}</code>,
    <code>&commat;foreach(){...}</code>...
</p>
@if(str.Length > 10) 
{
    int len = str.Length;
    <p>Довжина рядка більша за 10 (@len)</p>
}
else 
{
    <p>Довжина рядка НЕ більша за 10 (@str.Length)</p>
}

@foreach(String line in arr) 
{
    <p>@line</p>
}
1 | line1
2 | line2
3 | line3

  1      2       3
line1  line2   line3

Д.З. Створити сервіс для генерації випадкових рядків:
- для OTP (one-time password) - цифрова послідовність 
   традиційно з 6 символів. 
- для імен файлів (довільні символи, окрім зарезервованих 
   файловою системою: ., ?, *, /, \ і т.д.)
- для крипто-солі (довільні символи)
Довжину послідовності передавати параметром для кожного методу. 
Інжектувати сервіс, засобами Razor вивести таблицю з 10 рядками
по кожному типу випадкових рядків:
№   OTP    Filename     Salt
1 123456  sfdgasfdg   346t4!a#
2 654987  asgsfdgas   t4!a#346
3 741852  Hkbg6klQs   6t4!34a#
....
Додати скріншоти