@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP - Active Server Pages</h1>
</div>
<h2>Зміст</h2>
<h3><a asp-controller="Home" asp-action="Intro" >Вступ</a></h3>
<h3><a asp-controller="Home" asp-action="Ioc" >Інверсія управління. Сервіси.</a></h3>
<h3><a asp-controller="Home" asp-action="AboutRazor">Синтаксис Razor</a></h3>

